<!-- 繼承templates/base.html,重複的html語法全刪除 -->
{% extends "base.html" %}

{% block title %}
<title>代辦事項</title>
{% endblock %}
{% block css %}
<style>
    .todo {
        background-color: rgb(87, 236, 236);
        border-radius: 12px;
        padding: 12px;
        margin: 6px;
        width: 60%;
    }
</style>
{% endblock %}

{% block content %}

<h1>TodoList</h1>
<!--進入首頁時,是沒有代辦事項或是未登入時,顯示提示 先新增或登入 -->
{% if not todos %}
無代辦事項,請先新增或登入
{% endif %}

<!-- <a href="create-todo/" style="margin: 6px;">新增代辦事項</a> -->
{% for todo in todos %}
<div class="todo">
    <!-- 刪除的超連結 -->
    <!-- onclick="return confirm('是否刪除??') => javascrip 新增點擊事件,提醒是否刪除 -->
    <a href="{% url 'delete-todo' todo.id %}" onclick="return confirm('是否刪除??')">刪除</a>
    <h4>{{todo.created}}</h4>
    <!-- 將title 綁定 route 的 name參數=> viewtodo -->
    <!-- 點選title可指到該代辦事項id的連結 -->
    <a href="{% url 'view-todo' todo.id %}">
        <h3>{{todo.title}}</h3>
    </a>
    <p>{{todo.text}}</p>
    <u>{{todo.important}}</u>
    <!-- 如果todo.date_completed 完成欄位有值,就印出 -->
    {% if todo.date_completed %}
    <p>
        完成時間:<u>{{todo.date_completed}}</u>
    </p>
    {% endif %}
</div>
{% endfor %}
{% endblock %}