<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .todo {
            background-color: rgb(87, 236, 236);
            border-radius: 12px;
            padding: 12px;
            margin: 6px;
            width: 60%;
        }
    </style>
</head>

<body>
    <h1>TodoList</h1>
    {% for todo in todos %}
    <div class="todo">
        <h4>{{todo.created}}</h4>
        <!-- 將title 綁定 route 的 name參數=> viewtodo -->
        <!-- 點選title可指到該代辦事項id的連結 -->
        <a href="{% url 'view-todo' todo.id %}">
            <h3>{{todo.title}}</h3>
        </a>
        <p>{{todo.text}}</p>
        <u>{{todo.important}}</u>
    </div>
    {% endfor %}
</body>

</html>