<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .todo {
            background-color: rgb(87, 236, 236);
            border-radius: 12px;
            padding: 12px;
            margin: 6px;
            width: 60%;
        }
    </style>
</head>

<body>
    <!-- 如果使用者是透過登入的,就讓他可以進入新增代辦事項畫面 -->
    {% if user.is_authenticated %}
    使用者: {{user.username}}
    <a href="{% url 'create-todo' %}" style="margin: 6px;">新增代辦事項</a>
    <a href="{% url 'user_logout' %}">登出</a>
    <!-- 否則就只能登入或註冊 -->
    {% else %}
    <a href="{% url 'user_login' %}">登入</a>
    <a href="{% url 'user_register' %}">註冊</a> <!-- 導到註冊頁面 user_register  -->
    {% endif %}


    <h1>TodoList</h1>
    <!--進入首頁時,是沒有代辦事項或是未登入時,顯示提示 先新增或登入 -->
    {% if not todos %}
    無代辦事項,請先新增或登入
    {% endif %}

    <!-- <a href="create-todo/" style="margin: 6px;">新增代辦事項</a> -->
    {% for todo in todos %}
    <div class="todo">
        <!-- 刪除的超連結 -->
        <!-- onclick="return confirm('是否刪除??') => javascrip 新增點擊事件,提醒是否刪除 -->
        <a href="{% url 'delete-todo' todo.id %}" onclick="return confirm('是否刪除??')">刪除</a>
        <h4>{{todo.created}}</h4>
        <!-- 將title 綁定 route 的 name參數=> viewtodo -->
        <!-- 點選title可指到該代辦事項id的連結 -->
        <a href="{% url 'view-todo' todo.id %}">
            <h3>{{todo.title}}</h3>
        </a>
        <p>{{todo.text}}</p>
        <u>{{todo.important}}</u>
        <!-- 如果todo.date_completed 完成欄位有值,就印出 -->
        {% if todo.date_completed %}
        <p>
            完成時間:<u>{{todo.date_completed}}</u>
        </p>
        {% endif %}
    </div>
    {% endfor %}
</body>

</html>