{% extends "base.html" %}
{% block title %}
<title>Document</title>
{% endblock %}
{% block css %}
<style>
    .todo {
        background-color: rgb(87, 236, 236);
        border-radius: 12px;
        padding: 12px;
        margin: 6px;
        width: 60%;
    }
</style>
{% endblock %}

<!-- <body>
    <h1>Todo</h1>
    {% if todo %}
    <div class="todo">
        <h3>{{todo.title}}</h3>
        <h4>{{todo.created}}</h4>
        <p>{{todo.text}}</p>
        <u>{{todo.important}}</u>
    </div>
    {% else %}
    <h2>無此代辦事項</h2>
    {% endif %}
</body> -->

{% block content %}
<h1>View Todo</h1>
<form action="" method="POST">
    <!-- post 需要帶CSRF -->
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">更新</button>
</form>
<p>{{message}}</p>
{% endblock%}